@model Esmeralda.ViewModels.LoginViewModel
@{
    ViewData["title"] = "Login";
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}


<div class="row">

    <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
        <form method="post" novalidate>
            <h2 class="text-black"><i class="fa fa-lock fa-fw "></i>Login</h2>
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            <div class="form-group login-panel">

                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-success" />

                </div>
                <div class="pull-right">
                    <a asp-controller="Account" asp-action="Register">Registrate</a>
                </div>

            </div>
        </form>
    </div>
</div>

