@model Esmeralda.ViewModels.RegisterUserViewModel
<div class="row">
    <div class="">
        <form asp-controller="Account" asp-action="Register" method="post">
            <h3>Registro</h3>
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CardNumber"></label>
                <input asp-for="CardNumber" type="text" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="CardExpirationMonth"></label>
                <input asp-for="CardExpirationMonth" class="form-control" />
                <select asp-for="CardExpirationMonth" asp-items="ViewBag"></select>
                <span asp-validation-for="CardExpirationMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardExpirationYear"></label>
                <input asp-for="CardExpirationYear" class="form-control" />
                <span asp-validation-for="CardExpirationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVC"></label>
                <input type="text" asp-for="CVC" class="form-control" />
                <span asp-validation-for="CVC" class="text-danger"></span>
            </div>
            <hr>
            <div>
                <button class="btn btn-primary btn-block" type="submit" asp-controller="Account" asp-action="Register"><i class="fa fa-edit fa-fw fa-x2"></i>Registrarme</button>
            </div>
            <hr>
            <div>
                <p class="text-center">
                    Registrandote en la app gofood
                    Estas Aceptando los <a href="terms&conditions.html">
                        terminos y condiciones
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>
