@{
    ViewBag.Title = "UserPanel";
}

    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <div class="user-info-wrapper">
                            <div class="user-info-profile-image">
                                <!-- <img src="img/profile-1.jpg" alt=""  width="65" height="65"> -->
                                <i class="fa fa-user fa-4x "></i>
                            </div>
                            <div class="user-info">
                                <div class="user-welcome">Bienvenido</div>
              
                                <div class="username">Usuario: <strong>@User.Identity.Name</strong></div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="active"><i class="fa fa-envelope fa-fw fa-3x"></i>Ordenes</a>

                    </li>
                    <li>
                        <a asp-action="Restaurant" asp-controller="User"><i class="fa fa-cutlery fa-fw fa-3x"></i>Restaurantes</a>
                    </li>

                    @*<li>
                        <a href="~/Views/Account/ConfigurationUser.html"><i class="fa fa-wrench fa-fw fa-3x"></i>Configuracion</a>

                    </li>*@

                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header text-success"> ORDENES </h2>
                </div>
            </div>
            <!-- /.col-lg-12 -->
            <hr>
            <div class="row">
                <div class="col-lg-10 col-xs-12 col-lg-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Ordenes
                            <div class="input-group ">
                                <input type="text" class="form-control" placeholder="Buscar...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th># Orden</th>
                                                    <th>Fecha</th>
                                                    <th>Hora</th>
                                                    <th>Costo</th>
                                                    <th class="text-center">Cronometro</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>3326</td>
                                                    <td>10/21/2016</td>
                                                    <td>3:29 PM</td>
                                                    <td>$321.33</td>
                                                    <td><button class="btn btn-success btn-small btn-sm center-block ">Completada<i class="fa fa-check-circle fa-fw"></i></button></td>
                                                </tr>
                                                <tr>
                                                    <td>3327</td>
                                                    <td>10/21/2016</td>
                                                    <td>3:29 PM</td>
                                                    <td>$321.33</td>
                                                    <td><button class="btn btn-success btn-small btn-sm center-block ">Completada<i class="fa fa-check-circle fa-fw"></i></button></td>
                                                </tr>
                                                <tr>
                                                    <td>3328</td>
                                                    <td>9/31/2016</td>
                                                    <td>3:29 PM</td>
                                                    <td>$321.33</td>
                                                    <td class="text-danger text-center">07:58  left<i class="fa fa-hourglass-end"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


