@{
    ViewBag.Title = "AdminPanel";
}
@Html.Partial("_HeaderBar")
@Html.Partial("_AdminBar")
<div class="main">
    <div class="row">
        <div class="col l12">
            <h5>ORDENES</h5>
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12">
            <form>
                <div class="row">
                    <div class="col s12 card">
                        <div class="col s10 m11 searchtable no-padding">
                            <input type="text" placeholder="Search" />
                        </div>
                        <div class="col s2 m1 searchtable no-padding">
                            <input type="submit" class="btnsearch" />
                        </div>
                    </div>

                </div>
            </form>
            <div class="responsive-table">
                <table class="table striped">
                    <thead>
                        <tr>
                            <th># Orden</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3326</td>
                            <td>10/21/2013</td>
                            <td>3:29 PM</td>
                            <td>$321.33</td>
                        </tr>
                        <tr>
                            <td>3896</td>
                            <td>10/21/2013</td>
                            <td>3:29 PM</td>
                            <td>$321.33</td>
                        </tr>
                        <tr>
                            <td>5526</td>
                            <td>10/21/2013</td>
                            <td>3:29 PM</td>
                            <td>$321.33</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>  
