@model Esmeralda.ViewModels.MealViewModel

@{
    ViewBag.Title = "Crear";
}
@Html.Partial("_HeaderBar")
@Html.Partial("_AdminBar")
<div class="main">
    <div class="row">
        <div class="col l12">
            <h5> AGREGAR ALIMENTO </h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l10 offset-l1">
            <form asp-controller="Admin" asp-action="Create" method="post">
                <div asp-validation-summary="ValidationSummary.ModelOnly" class="red-text"></div>
                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="MealName"></label>
                        <input asp-for="MealName" />
                        <span asp-validation-for="MealName" class="red-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="Description"></label>
                        <textarea class="materialize-textarea" asp-for="Description" rows="2"></textarea>
                        <span asp-validation-for="Description" class="red-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" />
                        <span asp-validation-for="Price" class="red-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="Cal"></label>
                        <input asp-for="Cal" />
                        <span asp-validation-for="Cal" class="red-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label asp-for="CategoryId"></label>
                        <select class="browser-default" asp-for="CategoryId" asp-items="@ViewBag.Category"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="Estimation"></label>
                        <input asp-for="Estimation" placeholder="formato: [7.16] mn [56] seg"/>
                        <span asp-validation-for="Estimation" class="red-text"></span>
                    </div>
                </div>
                <button class="btn btn-success pull-right">Agregar</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}