@model Esmeralda.Models.Meal

@{
    ViewBag.Title = "Editar";
}

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class="navbar-brand" asp-controller="App" asp-action="Index"><img class="brand-logo" src="~/img/food.png" alt="Gofood" /></a>
                </div>
            </div>*@
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <div class="user-info-wrapper">
                        <div class="user-info-profile-image">
                            <!-- <img src="img/profile-1.jpg" alt=""  width="65" height="65"> -->
                            <i class="fa fa-user fa-4x "></i>
                        </div>
                        <div class="user-info">
                            <div class="user-welcome">Bienvenido</div>
                            <div class="username">Administrador <strong>@User.Identity.Name</strong></div>
                        </div>
                    </div>
                </li>

                <li>
                    <a asp-action="Create" asp-controller="Admin"><i class="fa fa-plus fa-fw fa-3x"></i> Agregar</a>
                </li>
                @*<li>
                    <a href="AlimentosDia.html"><i class="fa fa-cutlery fa-fw fa-3x"></i>Menu del dia</a>
                </li>*@
                <li>
                    <a asp-action="AdminPanel" asp-controller="Admin"><i class="fa fa-arrow-left fa-fw fa-3x"></i>Regresar al Panel</a>
                </li>
            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </nav>
    <!-- /.navbar-static-side -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-success"> EDITAR ALIMENTO </h2>
            </div>
        </div>
        <hr>
        <!-- /.col-lg-12 -->
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
            <form asp-controller="Admin" asp-action="Update" method="post" asp-route-id="@Model.MealId">
                <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Nombre de alimento</label>
                    <input asp-for="MealName" class="form-control" />
                    <span asp-validation-for="MealName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <textarea asp-for="Description" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Precio</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Calorias</label>
                    <input asp-for="Cal" class="form-control" />
                    <span asp-validation-for="Cal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Categoria de alimento</label>
                    <select asp-for="CategoryId" asp-items="@ViewBag.Category" class="form-control"></select>
                </div>
                @*<div class="form-group">
                        <label asp-for="Estimation">Estimacion</label>
                        <input asp-for="Estimation" class="form-control"/>
                        <span asp-validation-for="Estimation" class="text-danger"></span>
                    </div>*@
                <button class="btn btn-warning pull-right">
                    <i class="fa fa-pencil fa-fw fa-x2"></i>Editar
                </button>
            </form>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}