<div>
    <ul id="slide-out" class="side-nav fixed">
        @*<li class=""><img class="center responsive-img" src="img/logo.jpg" alt="logo"></li>*@
        <li><p>Bienvenido</p></li>
        
        <li class="waves-effect waves-block"><a asp-action="Login" asp-controller="Auth"><i class="fa fa-user fa-fw"></i>Login</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"></a>
</div>