<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"]</title>
    <link href="~/img/logos/gf-logo-green.png" rel="icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Esta pagina esta dedicada a toda
        persona que desea hacer una compra de cualquier alimento en la cafeteria de UABC,
        de manera rapida,segura y sin largas filas de espera. ">
    <meta name="keywords" content="cafe,cafeteria,uabc,gofood,alimento,shop,compra" />
    <meta property="og:url" content="http://mindcod3.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="GOFOOD" />
    <meta property="og:description" content="Esta pagina esta dedicada a toda
    persona que desea hacer una compra de cualquier alimento en la cafeteria de UABC,
    de manera rapida,segura y sin largas filas de espera." />
    <link rel="author" href="http://gofood.com" />
    <!--Materialize-->
    <link href="~/lib/materialize/dist/css/materialize.css" rel="stylesheet" />
    <!--FontAwesome-->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--GFCSS-->
    <link href="~/css/gofoodcss.css" rel="stylesheet" />
</head>
<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '918503044963058',
                xfbml: true,
                version: 'v2.6'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.6&appId=918503044963058";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div id="wrapper">
    @RenderBody()
    </div>

    @*<div class="footer">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">gofoodapp ©Todos los derechos reservados 2016</p>
                    <div class="text-right">
                        <div class="fb-share" data-share="true" data-width="450" data-show-faces="true"></div>
                        <div class="fb-share-button" data-href="http://Esmeralda20160530093341.azurewebsites.net" data-layout="button" data-mobile-iframe="false"></div>
                    </div>
                </div>
            </div>
        </div>*@
    <!--JQuery-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--GFJS-->
    <script src="~/js/gofood.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!--MaterializeJS-->
    <script src="~/lib/materialize/dist/js/materialize.js"></script>
    @RenderSection("Scripts", false)
    <!--developed by davidgallegos0712 welcome stalkers:)-->
</body>
</html>
