@{
    ViewBag.Title = "SuperUser";
}
<div class="row">
    <div class="">
        <div class="container-fluid">
            <div class="col-sm-4 col-sm-offset-4">
                <img src="~/img/gf.png" class="img-responsive" alt="gf" />
                <a asp-controller="SuperUser" asp-action="ManageAdmin" class="btn btn-danger btn-lg btn-block">Admins</a>
                <a asp-controller="SuperUser" asp-action="ManageUser" class="btn btn-danger btn-lg btn-block">Users</a>
            </div>
        </div>
    </div>
</div>

