<div id="page-wrapper" style="background-color:#ae00ff; margin:0;color:white">
    <h1>Felicidades! haz creado una cuenta con nosotros</h1>
    @*<h2>Te Hemos enviado un correo de confirmacion @ViewBag.Confirmation</h2>*@
    <h2>
        Accede a Gofood y empieza ya!!!
        <a asp-action="Login" asp-controller="Auth" class="text-black">
        Login
        </a>
    </h2>
</div>

