@model Esmeralda.ViewModels.LoginViewModel
@{
    ViewData["title"] = "Login";
}
@Html.Partial("_NavBarFullUser")
<div class="row">
    <div class="col s12 m10 l6 offset-m1 offset-l3">
        <form asp-action="Login" asp-controller="Auth" method="post">
            <h4>Login</h4>
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="red-text"></div>
            <div class="formpanel">
                <div class="row">
                    <div class="input-field s12">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" />
                        <span asp-validation-for="UserName" class="red-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field s12">
                        <label asp-for="Password"></label>
                        <input type="password" asp-for="Password" class="validation" />
                        <span asp-validation-for="Password" class="red-text"></span>
                    </div>
                </div>
                <div class="input-field s12">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
                <div class="pull-right">
                    Todavía no tienes cuenta?
                    <a asp-controller="Auth" asp-action="RegisterUser">Registrate</a>
                </div>

            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}