<div class="row">
    <div class="col s6">
        <h3 class="text-center">Registrate como usuario</h3>
        <p class="lead text-center">
            Siendo usuario de gofood podras hacer tus compras
            de comida rapido y facil.
        </p>
        <a asp-controller="Auth" asp-action="RegisterUser" class="btn btn-primary btn-block btn-lg">Registrate Usuario</a>
    </div>
    <div class="col s6">
            <h3 class="text-center text">Registrate como restaurante</h3>
            <p class="lead text-center">
                Empieza a formar parte de gofood brinda un mejor servicio
                y aumenta tus ventas.
            </p>
            <a asp-controller="Auth" asp-action="RegisterAdmin" class="btn btn-primary btn-block btn-lg">Registrate Restaurante</a>
        </div>
    </div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}