@model Esmeralda.ViewModels.RegisterUserViewModel
@Html.Partial("_NavBarFull")
<div class="row">
    <div class="col s12 m10 l6 offset-m1 offset-l3">
        <form asp-controller="Auth" asp-action="RegisterUser" method="post">
            <h3 class="text-primary">Registro</h3>
            @ViewBag.Confirmation
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="red-text"></div>
            <span class='payment-errors'></span>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" placeholder="Al menos 6 caracteres" />
                    <span asp-validation-for="Password" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="ConfirmPassword"></label>
                    <input type="password" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" />
                    <span asp-validation-for="UserName" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="CardNumber"></label>
                    <input asp-for="CardNumber" />
                    <span asp-validation-for="CardNumber" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <label asp-for="CardExpirationYear"></label>
                    <select class="browser-default" asp-for="CardExpirationYear" asp-items="ViewBag.AllYears"></select>
                    <span asp-validation-for="CardExpirationYear" class="red-text"></span>
                </div>
                <div class="col s6">  
                    <label asp-for="CardExpirationMonth"></label>
                    <select class="browser-default" asp-for="CardExpirationMonth" asp-items="ViewBag.AllMonths"></select>
                    <span asp-validation-for="CardExpirationMonth" class="red-text"></span>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="CVC"></label>
                    <input asp-for="CVC" placeholder="123" />
                    <span asp-validation-for="CVC" class="red-text"></span>
                </div>
            </div>
            <div class="s12">
                <button class="btn btn-primary btn-block" type="submit">Registrarme</button>
            </div>
        </form>
        <div>
            <p>
                Registrandote en la app gofood
                estas aceptando los <a asp-action="TermsConditions" asp-controller="Auth">Terminos y condiciones</a>
            </p>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}