@model Esmeralda.ViewModels.RegisterAdminViewModel
@Html.Partial("_NavBarFull")
<div class="row">
    <div class="col s12 m10 l6 offset-m1 offset-l3">
        <form asp-controller="Auth" asp-action="RegisterAdmin" method="post">
            <h3 class="text-primary">Registro</h3>
            <div asp-validation-summary="ValidationSummary.All" class="red-text"></div>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" placeholder="Al menos 6 caracteres" />
                    <span asp-validation-for="Password" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="ConfirmPassword"></label>
                    <input type="password" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" />
                    <span asp-validation-for="UserName" class="red-text"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" placeholder="ejemplo: colonia, calle, numero" />
                    <span asp-validation-for="Address" class="red-text"></span>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Registrarme</button>
            </div>
        </form>
        <div>
            <p>
                Registrandote en la app gofood
                estas aceptando los <a asp-action="TermsConditions" asp-controller="Auth">Terminos y condiciones</a>
            </p>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}