@Html.Partial("_NavBarFullUser");
<div class="container">
    <h2>Ultima Actualización: Junio 02, 2016</h2>
    <p class="text-justify">
        Al suscribirse a los servicios Gofood ( "Servicio") o cualquiera de los servicios de Gofood Inc. ("Gofood")
        usted acepta que quedará vinculado por los siguientes términos y condiciones ("Términos de Servicio").
        Los servicios ofrecidos por Gofood bajo los Términos de Servicio incluyen diversos productos y servicios a
        le ayudan a crear y administrar una tienda al por menor, ya sea una tienda en línea ("servicios en línea"), una tienda física
        ( "Servicios de punto de venta"), o ambos. Cualquier función nueva o herramientas que se añaden al Servicio estarán también sujetas
        con los Términos de Servicio. Puede revisar la versión actual de los Términos de Servicio en cualquier momento a <a asp-action="TermsConditons" asp-controller="Auth">Terminos y Condiciones</a>.
        Gofood se reserva el derecho de actualizar y modificar las Condiciones del servicio mediante la publicación de actualizaciones y cambios en la
        Gofood página web. Se le aconseja que compruebe las condiciones de uso de vez en cuando para las actualizaciones o cambios
        que te puedan afectar.
    </p>
    <hr />
    <ol class="text-justify">
        <li>Usted debe tener 18 años o más, o al menos la mayoría de edad en la jurisdicción donde usted reside o del que se utiliza este servicio.</li>
        <li>Para acceder y utilizar los Servicios, usted debe registrarse para obtener una cuenta Gofood ( "Cuenta"), proporcionando su nombre legal completo, dirección actual, número de teléfono, una dirección de correo electrónico válida, y cualquier otra información que se indica como sea necesario. Gofood podría rechazar su solicitud de una cuenta, o cancelar una cuenta existente, por cualquier razón, en nuestra única discreción.</li>
        <li>Usted reconoce que Gofood utilizará la dirección de correo electrónico que indique como el método principal para la comunicación.</li>
        <li>Usted es responsable de mantener su contraseña segura. Gofood no puede y no será responsable por cualquier pérdida o daño de su incumplimiento a mantener la seguridad de su cuenta y contraseña.</li>
        <li>Usted es responsable de todas las actividades y contenidos tales como datos, gráficos, fotos y enlaces que se sube en virtud de su Cuenta Gofood ( "almacén de contenido"). Usted no debe transmitir ningún gusano, virus o cualquier código de naturaleza destructiva.</li>
        <li>Un incumplimiento o violación de cualquier término de las Condiciones del servicio según lo determinado en la discreción de Gofood darán lugar a un cese inmediato de sus servicios.</li>
    </ol>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}